.app-info {
  padding: 1.5625rem;
  background-color: #3d5a80;
  border-radius: 0.25rem;
  box-shadow: 0.9375rem 0.9375rem 1.875rem rgba(0, 0, 0, 0.15);
  color: #fff;

  span {
    font-weight: 700;
  }
}
